html {
    height: 100%;
}

body {    
    height: 100%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

textarea {
    resize: none;
}

.game-area {
    height: 100%;
}

.comms-area {
    height: 100%;
}

.game-messages {
    background-color: black;
    color: white;
    height: 100%;
    overflow: auto;
    padding-left: 5px;
}

.comm-messages {
    background-color: black;
    color: white;
    height: 100%;
    overflow: auto;
    padding-left: 5px;
}

/* Bootstrap adjustments*/
.container-fluid {
    height: 100%;
}

p {
    margin: 0;
}

.room-name {
    color: #00ff00;
}

.room-desc {
    color: #ffff00;
}

.room-exit-names {
    color: #1E90FF;
}

.room-player-names {
    color: #ffa500;
}

.room-item-names {
    color: #00FFFF;
}

.room-quest-name {
    color: #FFD700;
}

.room-shop-name {
    color: #FAEBD7;
}

.room-enemy-names {
    color: #dc143c;
}

.room-event-msg {
    color: #FF00FF;
}

.speech {
    color: #ffa500;
}

.comm-msg {
    color: #ffd700;
}

.system-msg {
    color: deeppink;
}